﻿
@model SIFAGE.Models.Mensagem

@{
    ViewBag.Title = "Fale com a Gerência Geral";
}



@using (Html.BeginForm("GravarMensagem", "Mensagem", "POST"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Mensagem</legend>
   <div class="editor-label">
            @Html.LabelFor(model => model.Conteudo)
        </div>
        <div class="editor-field">
            <textarea class="text-box single-line" id="Conteudo" name="mensagem.Conteudo" rows=10 style="max-width:600px;">@ViewBag.Ip Digite sua mensagem aqui ...</textarea>         
            @Html.ValidationMessageFor(model => model.Conteudo)
        </div>

        <div class="editor-field">
              <input class="text-box single-line" id="User" name="mensagem.User" type="hidden" value=@User.Identity.Name />          
             @Html.ValidationMessageFor(model => model.User)
        </div>      
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
