﻿@{
    ViewBag.Title = "ListarMensagens";
}
<h2>Lista de Mensagens Recebidas</h2>
<table>
    <tr>
        <th>
            
        </th>
    </tr>
    
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Conteudo</td>
       
         <td>
            @Html.ActionLink("Responder", "ResponderMensagemEnviadaAoGerente", new { id = item.Id })             
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
        </td>
    </tr>
}

</table>