﻿@{
    ViewBag.Title = "Mural da Gerência Geral";
}
<h2>Mural de Mensangens </h2>

<div id="mural-mensagens"><br />
 
 @foreach(var respostas in Model){
  <div id="dialogo">
    <div class="editor-label">
        <label id="mensagem-colaborador">Colaborador </label><br />
        @respostas.Conteudo
    </div>
    
    <div class="editor-field">
            <label id="mensagem-gerente">Gerente Geral </label><br />
          @respostas.Resposta.Conteudo
    </div>
    <hr />
    </div> 
     }



</div>
